/* Add CSS styling here */

/*font-family: 'Roboto Slab', serif;*/
/*font-family: 'Rubik', sans-serif;*/

/* Home Page*/

/* Nav */

*{
    /* border: solid thin lightgrey; */
    font-family: 'Rubik', sans-serif;
}

.top {
    
}

h1{
    font-family: 'Roboto Slab', serif;
    margin-left: 10px;
}

.top nav{
    display:flex;
    justify-content: flex-start;

}

.top nav a{
    border: 1px solid #4B4454;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    background-color: #4B4454;
    font-family: 'Rubik', sans-serif;
}
.about{
    display:flex;
    justify-content: center;
    padding: 3%;
    height: 3%;
}
.img {
    background: url(https://images.unsplash.com/photo-1617876028110-ce891295ac62?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    width: 25%;
    height: 35vh;
    margin:2%;
}
.about-info{
    width: 40%;
    margin: 2%;
}

h2{
    font-family: 'Roboto Slab', serif;
}

.project-grid{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1pz lightgrey;

}

.project-grid div{
    width: 15%;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 30vh;
}

#div1{
    background: url(https://images.unsplash.com/photo-1617766644127-c051b41bcf73?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#div2{
    background: url(https://images.unsplash.com/photo-1617892262807-551053a8cfdf?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#div3{
    background: url(https://images.unsplash.com/photo-1617893772323-628d0a61a374?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#div4{
    background: url(https://images.unsplash.com/photo-1617855646684-085084b44be9?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5NHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

footer .get-in-touch{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align:center;
}
.dm-button{
    border: 1px solid #4B4454;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    background-color: #4B4454;
    font-family: 'Rubik', sans-serif;
    width: 5%;
    text-align: center;
}

.title-socials{
    text-align: center;
    margin: 1px 0;
}

.socials {
    display:flex;
    justify-content: center;
}

.ig-icon{
    background: url(https://www.flaticon.es/svg/vstatic/svg/174/174855.svg?token=exp=1617934530~hmac=c7ad31f4e88973a21783684337a09d1c);
    height: 4.1vh;
    width: 2%;
    margin: 2%;
}

.twitter-icon{
    background: url(https://www.flaticon.es/svg/vstatic/svg/733/733579.svg?token=exp=1617934743~hmac=43215c9c920bfdeb22da85c3c3a035b9);
    height: 4.1vh;
    width: 2%;
    margin: 2%;
}